:root {
    --saaspricing-primary-color:#6EC1E4;
    --saaspricing-secondary-color:#54595F;
    --saaspricing-color-white: #fff ;
    --saaspricing-color-black: #202020 ;
    --saaspricing-color-gray-100: #fafafa ;
    --saaspricing-color-box-shadow: #00000015;
    --saaspricing-color-blue: #0d6efd;
}

p, h1, h2, h3, h4, h5, h6 {
padding: 0;
margin: 0;
}

p.saaspricing-vertical-description, .card-title.saaspricing-vertical-title{
    margin-bottom:0;
}

/* .tableHeader {
    background-color: var( --saaspricing-color-white);
} */

.saaspricing-table {
    table-layout: fixed;
    min-width: 830px;
    border: unset;
    margin-bottom: 0;
}

.saaspricing-table p {
    margin:0;
    padding:0;
}

tr.saaspricing-price-table-head, tr.saaspricing-feature-list {
    border-bottom: 1px solid rgba(0, 0, 0, 0.03);
}

.saaspricing-table-title-des-main , tr.saaspricing-feature-list {
    /* border-left: 1px solid #fafafa; */
    border-right: 1px solid #fafafa;
}

.saaspricing-table td.ribbon-wrapper.saaspricing-common-ribbon{
    border-right: 1px solid #ffffff;
}

.saaspricing-table tr td:last-child {
    border-right: 1px solid transparent;
}

.saaspricing-table tr td:first-child {
    border-left: 1px solid transparent;
}

/* td.saaspricing-footer-cta {
    border-bottom: 1px solid #fafafa;
    border-right: 1px solid #fafafa;
} */

td.saaspricing-feature-main{
    gap:5px;
}

td.saaspricing-header-cta {
border-bottom: none;
}

.saaspricing-table tr td {
    /* border-left: 1px solid rgba(0, 0, 0, 0.05); */
    padding: 15px 20px;
    font-size: 14px;
}

.saaspricing-table tr td.ribbon-wrapper{
    border: none;
}
.saaspricing-table tr.saaspricing-ribbon-table-row:hover {
  background:none;
}

.saaspricing-table tr td.ribbon-wrapper {
    padding:0;
}

/* .saaspricing-table tr td:first-child {
    border-left: 0 none;
} */

.saaspricing-table tr td.price.saaspricing-pricing {
    text-align: center;
}

/* .saaspricing-table tr:nth-child(even) {
    background-color: var( --saaspricing-color-white);
} */

/* .saaspricing-table tr:hover {
    background-color: #f9f9f9;
} */

.saaspricing-table .fa-times {
    color: #D8D6E3;
}

/* Highlighted column */

td.ribbon-wrapper.saaspricing-common-ribbon.saasp-hidden{
    visibility: hidden;
}

.saaspricing-table tr.saaspricing-price-table-head td {
    font-size: 16px;
    font-weight: 600;
    text-transform: capitalize;
    min-width: 220px;
    padding:20px;
}

td.saaspricing-table-head {
    background-color: var(--saaspricing-primary-color);
    color: var(--saaspricing-color-white);
}

.saaspricing-table td.price {
    padding: 20px;
    font-size: 20px;
    font-weight: 600;
    position: relative;
}

.saaspricing-table td.ribbon-wrapper.saaspricing-common-ribbon {
    color: var(--saaspricing-color-white);
    text-transform: capitalize;
    font-size: 12px;
    font-weight: 700;
    background-color: var(--saaspricing-secondary-color);
    padding:20px 20px;
}

.saaspricing-table .saaspricing-blank {
    /* background-color: #ffffff; */
    border:none;
}

.saaspricing-table img {
    max-width: 80px;
}

.saaspricing-table-title{
    font-size: 28px;
}

.elementor-widget-saasComparison .elementor-widget-container{
    overflow: hidden;
}

/* vertical pricing section  */

.saaspricing-card {
    position: relative;
    display: flex;
    flex-direction: column;
    min-width: 0;
    word-wrap: break-word;
    background-clip: border-box;
    border-radius: .25rem;
}

.card-footer {
    border: none;
}

.saaspricing-cta-card{
    padding: 0.5rem 0rem;
}

.pricing-cards-all{
    overflow: hidden;
}

.saaspricing-heading {
    font-size: 50px;
}

 .saasprcing-vertical-pricing, .saasprcing-horizontal-pricing {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: center;
    line-height: .8;
    gap:5px;
}

.saaspricing-card-header {
    padding: .5rem 1rem;
    margin-bottom: 0;
    background-color: rgba(0,0,0,.03);
    background-color: #198754;
}

.saaspricing-horizontal {
    -webkit-box-shadow: 0 0 24px rgba(0, 0, 0, 0.15);
    box-shadow: 0 0 24px rgba(0, 0, 0, 0.15);
    overflow: hidden;
}

.saaspricing-horizontal .saaspricing-new-section {
    overflow: hidden;
    color: gray;
    text-align: left;
    line-height: 1.6em;
}

.saasspricing-pricing-block {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap:5px;
    line-height: .7; 
    padding:20px 0 10px 0;
}

.saaspricing-original-slashed-price, .saaspricing-price-symbol, .saaspricing-fraction-price {
    line-height: .8;
}

li.saaspricing-vertical-margin{
    margin-bottom: 1rem;
}
li.saaspricing-vertical-margin:last-child{
    margin-bottom: 0;
}


/* ribbons  */

.saaspricing-ribbon, .saaspricing-horizontal-ribbon {
    position: absolute;
    padding: 10px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    height: 40px;
    width: 40px;
    border-radius: 50px;
    color: var(--saaspricing-color-white);
    right: 10px;
    top: 15px;
    overflow: hidden;
}

.saaspricing-horizontal-ribbon {
    border-radius: 50px;
    font-weight: bold;
    font-size: 12px;
    background-color: #198754;
    padding: 30px;
}

.saaspricing-horizontal-left-position {
    left: 10px;
}

.saaspricing-horizontal-left-position {
    right: 10px;
}

#saaspricing-row-reverse {
    flex-direction: row-reverse;
}

.saaspricing-border-bottom {
    border-bottom: 1px solid #dee2e6;
}

.saaspricing-horizontal-title, 
.saaspricing-horizontal-des,
.saaspricing-horizontal-feature-title {
    word-wrap: break-word;
}

/* Pricing */

.saasprcing-vertical-pricing, .saasprcing-horizontal-pricing {
    padding:10px 0;
    margin:10px 0;
}

.saaspricing-vertical-price, 
.saaspricing-horizontal-price, 
.saaspricing-vertical-symbol, 
.saaspricing-horizontal-symbol {
    font-size: 50px;
    font-weight: bold;
}

.saaspricing-vertical-period, .saaspricing-horizontal-period {
    text-align: center;
    font-size: 24px;
    font-weight: bold;
    color: #6c757d;
}

.saaspricing-vertical-original, .saaspricing-horizontal-original {
    font-size: 24px;
    font-weight: bold;
}

/* Countdown */

.saaspricing-vertical-countdown, .saaspricing-horizontal-countdown {
    padding: 15px 0;
}

.saaspricing-vertical-countdown span.saaspricing-countdown,
.saaspricing-horizontal-countdown span.saaspricing-countdown {
    white-space:nowrap;
    border-radius: 0.3rem;
    color: #dc3545;
    padding: 0.25rem 0.5rem 0.25rem 0.5rem;
    border-color: #dc3545;
    border: 1px solid;
    font-size: 18px;
    font-weight: bold;
}

.saaspricing-align-super {
    vertical-align: super;
}

/* Review */

.saaspricing-star-icon{
    padding: 15px 0;
}

/* Features */

.saaspricing-horizontal-feature-title {
    color: #6c757d;
    font-weight: 700;
    padding-bottom: 16px;
}

.saasp-horizontal-icon-wrapper {
 padding-bottom: 20px;
}

.saaspricing-horizontal-des {
    padding-bottom: 1.5rem;
}

.saaspricing-horizontal-feature-list {
    padding-top: 20px;
}

.saaspricing-horizontal-slogan-title {
    font-size: 20px;
    font-weight: 500;
}

.vertical-pricing-card ol {
    padding:0;
    margin:0;
}

p.saaspricing-features-title {
    font-weight: bold;
    margin-bottom: 1rem;
}

.saaspricing-vertical-feature {
    background-color: #ffefd570;
    padding: 1.5rem 0.5rem;
    margin: 1rem 0;
}

/* Sidebar */

.saaspricing-horizontal-sidebar {
    background: #ffefd570;
    padding:48px;
    align-items: center;
    justify-content: center;
    height: 100%;
    position: relative;
    display: flex;
    flex-direction: column;
}

/* button css */

.saaspricing-primary-btn, .wp-block-post-content a:where(:not(.wp-element-button)) {
    color:var(--saaspricing-color-white);
}

a.saaspricing-secondary-btn {
    color:var(--saaspricing-color-blue);
}

.saaspricing-xsm-btn {
    font-size: 14px;
    padding: 10px 20px;
}

.saaspricing-sm-btn {
    font-size: 15px;
    padding: 12px 24px;
}

.saaspricing-m-btn {
    font-size: 16px;
    padding: 15px 30px;
}

.saaspricing-l-btn {
    font-size: 18px;
    padding: 20px 40px;
}

.saaspricing-xl-btn {
    font-size: 20px;
    padding: 25px 50px;
}

a.saaspricing-vertical-primary {
    margin: 20px 0;
}

.saaspricng-secondary-main {
    margin:10px 0;
}

.saaspricng-horizontal-secondary-main {
 margin:20px 0;
}

.saaspricing-horizontal-primary{
  margin: 20px 0;
}

.saaspricing-btn-1:hover {
    background-color: #198754;
    color: var( --saaspricing-color-white);
}

.saaspricing-bg-warm {
    background: #ffefd570;
}

.saaspricing-star-right {
    -webkit-transform: scalex(-1);
    -ms-transform: scalex(-1);
    transform: scalex(-1);
    margin-left: -23px;
}

.saaspricing-yellow {
    color: #f4b400;
}

.fs-sm {
    font-size: 12px;
}

.border-o {
    border-radius: 50px;
}

.saaspricing-sticky {
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    width: 100%;
    margin-bottom: 375px;
    background: #ffffff;
    -webkit-box-shadow: 0px 2px 10px #00000020;
    box-shadow: 0px 2px 10px #00000020;
}

.saaspricing-countdown {
    white-space: nowrap;
}

.saaspricing-fraction-price {
 vertical-align: super;
 font-size: 16px;
}

tbody svg {
    cursor: pointer;
}

.tooltip-inner {
    max-width: 300px;
    padding: 15px 20px;
    color: #202020;
    text-align: center;
    background-color: var( --saaspricing-color-white);
    border-radius: .25rem;
    -webkit-box-shadow: 0px 0px 10px #00000020;
    box-shadow: 0px 0px 10px #00000020;
}

.bs-tooltip-auto[data-popper-placement^=bottom] .tooltip-arrow::before,
.bs-tooltip-bottom .tooltip-arrow::before {
    border-bottom-color: var( --saaspricing-color-white);
}

.bs-tooltip-auto[data-popper-placement^=top] .tooltip-arrow::before,
.bs-tooltip-top .tooltip-arrow::before {
    border-top-color: var( --saaspricing-color-white);
}

.bs-tooltip-auto[data-popper-placement^=right] .tooltip-arrow::before,
.bs-tooltip-end .tooltip-arrow::before {
    border-right-color: var( --saaspricing-color-white);
}

.tooltip.show {
    opacity: 1;
}

.mfp-img {
    height: auto;
    display: block;
    line-height: 0;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    padding: 0px;
    margin: 0 auto;
    width: 100% !important;
    max-width: 600px !important;
    background-color: var( --saaspricing-color-white);
}

.mfp-image-holder .mfp-close,
.mfp-iframe-holder .mfp-close {
    color: #000;
    right: -30px;
    top: -30px;
    text-align: right;
    background: var( --saaspricing-color-white);
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    padding: 10px !important;
    height: 30px;
    width: 30px;
    border-radius: 50px;
    cursor: pointer !important;
}

@media screen and (max-width: 350px) {
    .saaspricing-ribbon {
        position: unset;
        margin-bottom: 15px;
        ;

    }
}

@media screen and (max-width: 768px) {
    .w-sm-100 {
        width: 100% !important;
    }
}