:root {
    --saaspricing-primary:#54595F;
    --saaspricing-wild-sand:#F7F7F7;
    --saaspricing-boulder:#7A7A7A;
    --saaspricing-mako:#474F53;
    --saaspricing-secondary: #818A91;
    --saaspricing-white: #ffffff;
    --saaspricing-black: #000000;
    --saaspricing-box-shadow: #00000015;
    --saaspricing-yellow: #f4b400;
}

p, h1, h2, h3, h4, h5, h6 {
    padding: 0;
    margin: 0;
}

.saaspricing-table {
    table-layout: fixed;
    min-width: 830px;
    border: unset;
    margin-bottom: 0;
    overflow: hidden;
}

.saaspricing-horizontal .saaspricing-horizontal-sidebar a,
.saaspricing-cards-all .saaspricing-card a,
.saaspricing-table .saaspricing-table-title-des-main a,
.saaspricing-table .saaspricing-cta-main a {
    text-decoration: none;
}

.saaspricing-table-description {
    font-size: 16px;
    color: var(--saaspricing-boulder);
}

.saaspricing-table p {
    margin: 0;
    padding: 0;
}

.saaspricing-price-table-head small {
    font-size: 14px;
    font-weight: 400;
}

.saaspricing-table-title-des-main, .saaspricing-feature-list {
    border-right: 1px solid var(--saaspricing-white);
}

 .saaspricing-feature-list span {
    color: var(--saaspricing-mako);
    font-size: 16px;
 }

.saaspricing-table tr td:last-child {
    border-right: 1px solid transparent;
}

.saaspricing-table tr td:first-child {
    border-left: 1px solid transparent;
}

.saaspricing-table .saaspricing-cell-icon svg,
.saaspricing-table .saaspricing-price-table-help svg {
    margin-right: 10px;
    color: var(--saaspricing-primary);
}

.saaspricing-table tr td {
    padding: 10px 30px 20px 30px;
    font-size: 14px;
}

.saaspricing-table .saaspricing-ribbon-table-row .saaspricing-ribbon-wrapper {
    border: none;
    padding: 0;
}

.saaspricing-table .saaspricing-ribbon-table-row:hover {
    background: none;
}

.saaspricing-table .fa-times {
    color: var(--saaspricing-boulder);
}

.saaspricing-table .saaspricing-ribbon-table-row .saasp-hidden {
    visibility: hidden;
}

.saaspricing-table .saaspricing-price-table-head td {
    font-size: 18px;
    font-weight: bold;
    text-transform: capitalize;
    min-width: 220px;
    padding: 30px;
}

.saaspricing-table .saaspricing-table-head {
    background-color: var(--saaspricing-primary);
    color: var(--saaspricing-white);
}

.saaspricing-table .saaspricing-price {
    padding: 30px;
    font-size: 20px;
    font-weight: 600;
    position: relative;
    vertical-align: top;
}

.saaspricing-table .saaspricing-ribbon-table-row .saaspricing-common-ribbon {
    color: var(--saaspricing-white);
    text-transform: capitalize;
    font-size: 16px;
    font-weight: 400;
    background-color: var(--saaspricing-black);
    padding: 30px 30px;
}

.saaspricing-table .saaspricing-blank {
    border: none;
}

.saaspricing-table img {
    max-width: 80px;
}

.saaspricing-table-title {
    font-size: 20px;
    font-weight: 600;
    color: var(--saaspricing-mako)
}

.saaspricing-vertical-header {
    padding: 25px 0 0 0;
}

.vertical-pricing-card .saaspricing-vertical-title, 
.saaspricing-horizontal .saaspricing-horizontal-title {
    margin-bottom: 0;
    font-size: 22px;
    font-weight: 600;
    color: var(--saaspricing-mako);
}

.saaspricing-cards-all .saaspricing-vertical-description,
.saaspricing-horizontal .saaspricing-horizontal-des {
    font-size: 16px;
    font-weight: 400;
    color: var(--saaspricing-boulder);
    margin: 0;
}

.saaspricing-card {
    position: relative;
    display: flex;
    flex-direction: column;
    min-width: 0;
    word-wrap: break-word;
    background-clip: border-box;
    border-radius: 5px;
}

.saaspricing-card-footer {
    padding: 8px 16px;
    margin: 0 0 30px 0;
}

.saaspricing-cta-card {
    padding: 8px 0;
}

.saaspricing-cards-all {
    overflow: hidden;
    height: 100%;
}

.saaspricing-cards-all .row {
    height: 100%;
}

.saaspricing-heading {
    font-size: 50px;
}

.saasprcing-vertical-pricing, .saasprcing-horizontal-pricing {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: left;
    line-height: .8;
    gap:5px;
}
.saaspricing-vertical-body-alignment {
    color: var(--saaspricing-primary);
}

.saaspricing-card-header {
    padding: 8px 16px;
    margin-bottom: 0;
    background-color: rgba(0,0,0,.03);
    background-color: var(--saaspricing-black);
}

.saaspricing-card-header .saaspricing-ribbon-title small {
    font-size: 16px;
    color: var(--saaspricing-white);
}

.saaspricing-horizontal {
    overflow: hidden;
}

.saaspricing-horizontal .saaspricing-border-bottom {
    color: var(--saaspricing-boulder);
}

.saasspricing-pricing-block {
    display: flex;
    justify-content: left;
    align-items: center;
    flex-wrap: wrap;
    gap: 5px;
    line-height: .7; 
    padding: 30px 0 10px 0;
    color: var(--saaspricing-primary);
}

.saaspricing-original-slashed-price, 
.saaspricing-price-symbol, 
.saaspricing-fraction-price {
    line-height: .8;
}

.saaspricing-vertical-margin {
    margin-bottom: 30px;
}

.saaspricing-vertical-margin:last-child {
    margin-bottom: 0;
}

/* ribbons  */

.saaspricing-ribbon, .saaspricing-horizontal-ribbon {
    position: absolute;
    padding: 10px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    height: 40px;
    width: 40px;
    border-radius: 50px;
    color: var(--saaspricing-white);
    right: 10px;
    top: 15px;
    overflow: hidden;
}

.saaspricing-horizontal-ribbon {
    border-radius: 50px;
    font-weight: bold;
    font-size: 16px;
    background-color: var(--saaspricing-black);
    padding: 30px;
}

.saaspricing-horizontal-left-position {
    left: 10px;
}

.saaspricing-horizontal-right-position {
    right: 10px;
}

.saaspricing-row-reverse {
    flex-direction: row-reverse;
}

.saaspricing-border-bottom {
    border-bottom: 1px solid var(--saaspricing-boulder);
}

.saaspricing-horizontal-title, 
.saaspricing-horizontal-des,
.saaspricing-horizontal-feature-title {
    word-wrap: break-word;
}

.saaspricing-ribbon-title{
    font-size: 20px;
    font-weight: 600;
}

/* Pricing */

.saasprcing-vertical-pricing, .saasprcing-horizontal-pricing {
    padding: 30px 0;
}

.saaspricing-price-text{
    font-size: 42px;
    font-weight: bold;
}
.saaspricing-original-slashed-price{
    font-size: 20px;
    font-weight: bold;
}
.saaspricing-period, .saaspricing-vertical-period,
.saaspricing-horizontal-period {
    font-size: 16px;
    font-weight: 400;
}

.saaspricing-vertical-price, 
.saaspricing-horizontal-price, 
.saaspricing-vertical-symbol, 
.saaspricing-horizontal-symbol {
    font-size: 42px;
    font-weight: bold;
}

.saaspricing-vertical-original, .saaspricing-horizontal-original {
    font-size: 20px;
    font-weight: bold;
}

/* Countdown */

.saaspricing-horizontal-countdown{
    padding: 20px 0;
}

.saaspricing-vertical-countdown .saaspricing-countdown {
    white-space: nowrap;
    border-radius: 5px;
    color: var(--saaspricing-primary);
    padding: 4px 8px 4px 8px;
    border-color: var(--saaspricing-primary);
    border: 1px solid;
    font-size: 18px;
    font-weight: bold;
}

.saaspricing-horizontal-countdown .saaspricing-countdown {
    white-space: nowrap;
    border-radius: 5px;
    color: var(--saaspricing-white);
    padding: 4px 8px 4px 8px;
    border-color: var(--saaspricing-white);
    border: 1px solid;
    font-size: 18px;
    font-weight: bold;
}

.saaspricing-align-super {
    vertical-align: super;
}

/* Review */

.saaspricing-star-icon {
    padding: 30px 0 30px 0;
}

.saaspricing-horizontal .saaspricing-star-icon {
    padding: 20px 0 20px 0;
}

.saaspricing-star-icon small {
    color: var(--saaspricing-primary);
    font-weight: normal;
}

.saaspricing-horizontal .saaspricing-star-icon small {
    color: var(--saaspricing-white);
}

/* Features */

.saaspricing-horizontal .saaspricing-horizontal-feature-title {
    color: var(--saaspricing-mako);
    font-weight: 700;
    font-size: 18px;
    margin: 0;
}

.saaspricing-horizontal-feature-list .row {
    padding: 30px 0;
}

.saasp-horizontal-icon-wrapper {
    padding-bottom: 30px;
}

.saaspricing-horizontal-des {
    padding-bottom: 24;
}

.saaspricing-horizontal-feature-list {
    padding-top: 30px;
}

.saaspricing-horizontal .saaspricing-horizontal-slogan-title {
    font-size: 22px;
    font-weight: 600;
    margin:0;
}

.vertical-pricing-card ol {
    padding:0;
    margin:0;
}

.saaspricing-vertical-feature .saaspricing-features-title {
    font-weight: bold;
    margin-bottom: 16px;
    color: var(--saaspricing-mako);
    font-size: 18px;
}

.saaspricing-vertical-feature {
    padding: 18px;
}

.saaspricing-vertical-feature li small , .saasp-horizontal-icon-wrapper small{
    font-size: 16px;
    color: var(--saaspricing-mako);
}

.saaspricing-vertical-feature li svg,
.saasp-horizontal-icon-wrapper svg{
    color: var(--saaspricing-primary);
}

/* Sidebar */

.saaspricing-horizontal-sidebar {
    background: var(--saaspricing-primary);
    color: var(--saaspricing-white);
    padding: 48px;
    align-items: center;
    justify-content: center;
    height: 100%;
    position: relative;
    display: flex;
    flex-direction: column;
}

/* button css */

.saaspricing-primary-btn, .wp-block-post-content a:where(:not(.wp-element-button)) {
    color: var(--saaspricing-white);
}

.saaspricing-table .saaspricing-cta-main .saaspricing-secondary-btn {
    background-color: transparent;
    color: var(--saaspricing-secondary);
    font-weight: 600;
    text-decoration: underline;
    margin-top: 20px;
}

.saaspricing-cards-all .saaspricng-secondary-main .saaspricing-vertical-secondary {
    background-color: transparent;
    color: var(--saaspricing-secondary);
    font-weight: 600;
    text-decoration: underline;
    margin-top: 10px;
}

.saaspricing-horizontal .saaspricng-horizontal-secondary-main .saaspricing-horizontal-secondary {
    background-color: transparent;
    color: var(--saaspricing-white);
    font-weight: 600;
    text-decoration: underline;
    margin-top: 10px; 
}

.saaspricing-table .saaspricing-table-title-des-main .saaspricing-price .saaspricing-primary-btn {
    margin-top: 20px;
}

.saaspricing-table .saaspricing-footer-cta .saaspricing-primary-btn {
    margin-top: 20px;
}

.saaspricing-footer-cta {
    vertical-align: top;
}

.saaspricing-xsm-btn {
    font-size: 14px;
    padding: 10px 20px;
    color: var(--saaspricing-white);
    background-color: var(--saaspricing-secondary);
    font-weight: 600;
}

.saaspricing-sm-btn {
    font-size: 16px;
    padding: 12px 24px;
    color: var(--saaspricing-white);
    background-color: var(--saaspricing-secondary);
    font-weight: 600;
}

.saaspricing-m-btn {
    font-size: 18px;
    padding: 15px 30px;
    color: var(--saaspricing-white);
    background-color: var(--saaspricing-secondary);
    font-weight: 600;
}

.saaspricing-l-btn {
    font-size: 20px;
    padding: 20px 40px;
    color: var(--saaspricing-white);
    background-color: var(--saaspricing-secondary);
    font-weight: 600;
}

.saaspricing-xl-btn {
    font-size: 22px;
    padding: 25px 50px;
    color: var(--saaspricing-white);
    background-color: var(--saaspricing-secondary);
    font-weight: 600;
}

.saaspricing-cards-all .saaspricing-vertical-primary {
    margin: 10px 0;
}

.saaspricng-secondary-main a {
    margin: 10px 0;
}

.saaspricng-horizontal-secondary-main {
    margin: 20px 0;
}

.saaspricing-horizontal-primary {
    margin: 20px 0 0 0;
}

.saaspricing-star-right {
    -webkit-transform: scalex(-1);
    -ms-transform: scalex(-1);
    transform: scalex(-1);
    margin-left: -23px;
}

.saaspricing-yellow {
    color: var(--saaspricing-yellow);
}

.saaspricing-fs-sm {
    font-size: 12px;
}

.saaspricing-countdown {
    white-space: nowrap;
}

.saaspricing-fraction-price {
    vertical-align: super;
    font-size: 16px;
}

.saaspricing-table .saaspricing-table-body svg {
    cursor: pointer;
}

.saaspricing-table-background {
    background-color: var(--saaspricing-wild-sand);
}

.elementor-widget-saasp-vertical .elementor-widget-container,
.elementor-widget-saasp-horizontal .elementor-widget-container {
    background-color: var(--saaspricing-wild-sand);
}

.tooltip-inner {
    max-width: 300px;
    padding: 15px 20px;
    color: var(--saaspricing-black);
    text-align: center;
    background-color: var(--saaspricing-white);
    border-radius: 5px;
    -webkit-box-shadow: 0px 0px 10px var(--saaspricing-box-shadow);
    box-shadow: 0px 0px 10px var(--saaspricing-box-shadow);
}

.bs-tooltip-auto[data-popper-placement^=bottom] .tooltip-arrow::before,
.bs-tooltip-bottom .tooltip-arrow::before {
    border-bottom-color: var(--saaspricing-white);
}

.bs-tooltip-auto[data-popper-placement^=top] .tooltip-arrow::before,
.bs-tooltip-top .tooltip-arrow::before {
    border-top-color: var(--saaspricing-white);
}

.bs-tooltip-auto[data-popper-placement^=right] .tooltip-arrow::before,
.bs-tooltip-end .tooltip-arrow::before {
    border-right-color: var(--saaspricing-white);
}

.tooltip.show {
    opacity: 1;
}

.mfp-img {
    height: auto;
    display: block;
    line-height: 0;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    padding: 0px;
    margin: 0 auto;
    width: 100% !important;
    max-width: 600px !important;
    background-color: var(--saaspricing-white);
}

.mfp-image-holder .mfp-close,
.mfp-iframe-holder .mfp-close {
    color: var(--saaspricing-black);
    right: -30px;
    top: -30px;
    text-align: right;
    background: var(--saaspricing-white);
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    padding: 10px !important;
    height: 30px;
    width: 30px;
    border-radius: 50px;
    cursor: pointer !important;
}

@media screen and (max-width: 350px) {
    .saaspricing-ribbon {
        position: unset;
        margin-bottom: 15px;
        ;

    }
}

@media screen and (max-width: 768px) {
    .saaspricing-w-sm-100 {
        width: 100%;
    }
}