:root {
    --saaspricing-primary-color:#555555;
    --saaspricing-background-color:#F7F7F7;
    --saaspricing-secondary-color: #000000 ;
    --saaspricing-btn-background-color: #818a91 ;
    --saaspricing-white-color: #ffffff;
    --saaspricing-box-shadow-color: #00000015;
    --saaspricing-yellow-color: #f4b400;
}

p, h1, h2, h3, h4, h5, h6 {
    padding: 0;
    margin: 0;
}

.saaspricing-table {
    table-layout: fixed;
    min-width: 830px;
    border: unset;
    margin-bottom: 0;
    overflow: hidden;
}

.saaspricing-horizontal .saaspricing-horizontal-sidebar a,
.saaspricing-cards-all .saaspricing-card a,
.saaspricing-table .saaspricing-table-title-des-main a,
.saaspricing-table .saaspricing-cta-main a{
    text-decoration: none;
}
 
.vertical-pricing-card .saaspricing-vertical-title, 
.saaspricing-horizontal .saaspricing-horizontal-title {
    margin-bottom:0;
    font-size: 28px;
    font-weight: 400;
}

.saaspricing-table-description{
    font-size: 16px;
}

.saaspricing-table p {
    margin:0;
    padding:0;
}

.saaspricing-price-table-head, .saaspricing-feature-list {
    border-bottom: 1px solid var(--saaspricing-border-color);
}

.saaspricing-table-title-des-main, .saaspricing-feature-list {
    border-right: 1px solid var(--saaspricing-color-gray-100);
}

.saaspricing-table tr td:last-child {
    border-right: 1px solid transparent;
}

.saaspricing-table tr td:first-child {
    border-left: 1px solid transparent;
}

.saaspricing-feature-main {
    gap:5px;
}

.saaspricing-table tr td {
    padding: 15px 20px;
    font-size: 14px;
}

.saaspricing-table .saaspricing-ribbon-table-row .saaspricing-ribbon-wrapper{
    border: none;
    padding:0;
}

.saaspricing-table .saaspricing-ribbon-table-row:hover {
    background:none;
}

.saaspricing-table .fa-times {
    color: var( --saaspricing-color-gray-100 );
}

/* Highlighted column */

.saaspricing-table .saaspricing-ribbon-table-row .saasp-hidden {
    visibility: hidden;
}

.saaspricing-table .saaspricing-price-table-head td {
    font-size: 16px;
    font-weight: 600;
    text-transform: capitalize;
    min-width: 220px;
    padding:20px;
}

.saaspricing-table .saaspricing-table-head {
    background-color: var(--saaspricing-primary-color);
    color: var(--saaspricing-white-color);
}

.saaspricing-table .saaspricing-price {
    padding: 20px;
    font-size: 20px;
    font-weight: 600;
    position: relative;
}

.saaspricing-table .saaspricing-ribbon-table-row .saaspricing-common-ribbon {
    color: var(--saaspricing-white-color);
    text-transform: capitalize;
    font-size: 12px;
    font-weight: 700;
    background-color: var( --saaspricing-secondary-color );
    padding:20px 20px;
}

.saaspricing-table .saaspricing-blank {
    border:none;
}

.saaspricing-table img {
    max-width: 80px;
}

.saaspricing-table-title {
    font-size: 28px;
}

/* vertical pricing section  */

.saaspricing-card {
    position: relative;
    display: flex;
    flex-direction: column;
    min-width: 0;
    word-wrap: break-word;
    background-clip: border-box;
    border-radius: .25rem;
}

.saaspricing-card-footer {
    padding: .5rem 1rem;
    background-color: var(--saaspricing-primary-color);
}

.saaspricing-cta-card {
    padding: 0.5rem 0rem;
}

.saaspricing-cards-all {
    overflow: hidden;
    height: 100%;
}

.saaspricing-cards-all .row {
    height: 100%;
}

.saaspricing-heading {
    font-size: 50px;
}

 .saasprcing-vertical-pricing, .saasprcing-horizontal-pricing {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: left;
    line-height: .8;
    gap:5px;
}
.saaspricing-vertical-body-alignment{
    color: var(--saaspricing-primary-color);
}

.saaspricing-card-header {
    padding: .5rem 1rem;
    margin-bottom: 0;
    background-color: rgba(0,0,0,.03);
    background-color: var(--saaspricing-secondary-color);
}

.saaspricing-horizontal {
    overflow: hidden;
}

.saaspricing-horizontal .saaspricing-new-section {
    overflow: hidden;
    color: gray;
    text-align: left;
    line-height: 1.6em;
}

.saasspricing-pricing-block {
    display: flex;
    justify-content: left;
    align-items: center;
    flex-wrap: wrap;
    gap:5px;
    line-height: .7; 
    padding:20px 0 10px 0;
    color:var(--saaspricing-primary-color);
}

.saaspricing-original-slashed-price, .saaspricing-price-symbol, .saaspricing-fraction-price {
    line-height: .8;
}

.saaspricing-vertical-margin {
    margin-bottom: 1.8rem;
}

.saaspricing-vertical-margin:last-child {
    margin-bottom: 0;
}

/* ribbons  */

.saaspricing-ribbon, .saaspricing-horizontal-ribbon {
    position: absolute;
    padding: 10px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    height: 40px;
    width: 40px;
    border-radius: 50px;
    color: var(--saaspricing-white-color);
    right: 10px;
    top: 15px;
    overflow: hidden;
}

.saaspricing-horizontal-ribbon {
    border-radius: 50px;
    font-weight: bold;
    font-size: 12px;
    background-color: var(--saaspricing-secondary-color);
    color:var(--saaspricing-color-black);
    padding: 30px;
}

.saaspricing-horizontal-left-position {
    left: 10px;
}

.saaspricing-horizontal-right-position {
    right: 10px;
}

.saaspricing-row-reverse {
    flex-direction: row-reverse;
}

.saaspricing-border-bottom {
    border-bottom: 1px solid var(--saaspricing-border-color);
}

.saaspricing-horizontal-title, 
.saaspricing-horizontal-des,
.saaspricing-horizontal-feature-title {
    word-wrap: break-word;
}

.saaspricing-ribbon-title, .saaspricing-horizontal-ribbon{
    font-size: 14px;
    font-weight: bold;
}

/* Pricing */

.saasprcing-vertical-pricing, .saasprcing-horizontal-pricing {
    padding:10px 0;
    margin:10px 0;
}

.saaspricing-price-text{
    font-size: 50px;
    font-weight: bold;
}
.saaspricing-original-slashed-price, .saaspricing-period {
    font-size: 24px;
    font-weight: bold;
}

.saaspricing-vertical-price, 
.saaspricing-horizontal-price, 
.saaspricing-vertical-symbol, 
.saaspricing-horizontal-symbol {
    font-size: 50px;
    font-weight: bold;
}

.saaspricing-vertical-period {
    text-align: center;
    font-size: 24px;
    font-weight: bold;
}

.saaspricing-horizontal-period{
    text-align: center;
    font-size: 24px;
    font-weight: bold;
    color: var(--saaspricing-white-color);
}

.saaspricing-vertical-original, .saaspricing-horizontal-original {
    font-size: 24px;
    font-weight: bold;
}

/* Countdown */

.saaspricing-vertical-countdown, .saaspricing-horizontal-countdown {
    padding: 15px 0;
}

.saaspricing-vertical-countdown .saaspricing-countdown{
    white-space:nowrap;
    border-radius: 0.3rem;
    color: var( --saaspricing-color-black );
    padding: 0.25rem 0.5rem 0.25rem 0.5rem;
    border-color: var( --saaspricing-color-black );
    border: 1px solid;
    font-size: 18px;
    font-weight: bold;
}

.saaspricing-horizontal-countdown .saaspricing-countdown{
    white-space:nowrap;
    border-radius: 0.3rem;
    color: var( --saaspricing-white-color );
    padding: 0.25rem 0.5rem 0.25rem 0.5rem;
    border-color: var( --saaspricing-white-color );
    border: 1px solid;
    font-size: 18px;
    font-weight: bold;
}

.saaspricing-align-super {
    vertical-align: super;
}

/* Review */

.saaspricing-star-icon {
    padding: 15px 0;
}

.saaspricing-star-icon small{
    color: var(--saaspricing-primary-color);
    font-weight: normal;
}

/* Features */

.saaspricing-horizontal-feature-title {
    color: var(--saaspricing-color-black);
    font-weight: 700;
    padding-bottom: 16px;
}

.saasp-horizontal-icon-wrapper {
    padding-bottom: 1.8rem;
}

.saaspricing-horizontal-des {
    padding-bottom: 1.5rem;
}

.saaspricing-horizontal-feature-list {
    padding-top: 20px;
}

.saaspricing-horizontal-slogan-title {
    font-size: 20px;
    font-weight: 500;
}

.vertical-pricing-card ol {
    padding:0;
    margin:0;
}

p.saaspricing-features-title {
    font-weight: bold;
    margin-bottom: 1rem;
}

.saaspricing-vertical-feature {
    padding: 1.5rem 0.5rem;
    margin: 1rem 0;
}

/* Sidebar */

.saaspricing-horizontal-sidebar {
    background: var( --saaspricing-primary-color );
    color: var( --saaspricing-white-color );
    padding: 48px;
    align-items: center;
    justify-content: center;
    height: 100%;
    position: relative;
    display: flex;
    flex-direction: column;
}

/* button css */

.saaspricing-primary-btn, .wp-block-post-content a:where(:not(.wp-element-button)) {
    color:var(--saaspricing-white-color );
}

.saaspricing-secondary-btn {
    color:var(--saaspricing-color-black);
}

.saaspricing-xsm-btn {
    font-size: 14px;
    padding: 10px 20px;
    color: var(--saaspricing-white-color);
    background-color: var(--saaspricing-btn-background-color);
}

.saaspricing-sm-btn {
    font-size: 15px;
    padding: 12px 24px;
    color: var(--saaspricing-white-color);
    background-color: var(--saaspricing-btn-background-color);
}

.saaspricing-m-btn {
    font-size: 16px;
    padding: 15px 30px;
    color: var(--saaspricing-white-color);
    background-color: var(--saaspricing-btn-background-color);
}

.saaspricing-l-btn {
    font-size: 18px;
    padding: 20px 40px;
    color: var(--saaspricing-white-color);
    background-color: var(--saaspricing-btn-background-color);
}

.saaspricing-xl-btn {
    font-size: 20px;
    padding: 25px 50px;
    color: var(--saaspricing-white-color);
    background-color: var(--saaspricing-btn-background-color);
}

.saaspricing-cards-all .saaspricing-vertical-primary {
    margin: 20px 0;
}

.saaspricng-secondary-main {
    margin:10px 0;
}

.saaspricng-horizontal-secondary-main {
    margin:20px 0;
}

.saaspricing-horizontal-primary {
    margin: 20px 0;
}

.saaspricing-btn-1:hover {
    background-color: var(--saaspricing-color-green );
    color: var( --saaspricing-white-color );
}

.saaspricing-star-right {
    -webkit-transform: scalex(-1);
    -ms-transform: scalex(-1);
    transform: scalex(-1);
    margin-left: -23px;
}

.saaspricing-yellow {
    color: var( --saaspricing-yellow-color );
}

.saaspricing-fs-sm {
    font-size: 12px;
}

.saaspricing-countdown {
    white-space: nowrap;
}

.saaspricing-fraction-price {
 vertical-align: super;
 font-size: 16px;
}

.saaspricing-table .saaspricing-table-body svg {
    cursor: pointer;
}

.elementor-widget-saasp-comparison .elementor-widget-container,
.elementor-widget-saasp-vertical .elementor-widget-container,
.elementor-widget-saasp-horizontal .elementor-widget-container {
 background-color: var(--saaspricing-background-color);
}

.tooltip-inner {
    max-width: 300px;
    padding: 15px 20px;
    color: var(--saaspricing-color-black);
    text-align: center;
    background-color: var( --saaspricing-white-color );
    border-radius: .25rem;
    -webkit-box-shadow: 0px 0px 10px var( --saaspricing-box-shadow-color );
    box-shadow: 0px 0px 10px var( --saaspricing-box-shadow-color );
}

.bs-tooltip-auto[data-popper-placement^=bottom] .tooltip-arrow::before,
.bs-tooltip-bottom .tooltip-arrow::before {
    border-bottom-color: var( --saaspricing-white-color );
}

.bs-tooltip-auto[data-popper-placement^=top] .tooltip-arrow::before,
.bs-tooltip-top .tooltip-arrow::before {
    border-top-color: var( --saaspricing-white-color );
}

.bs-tooltip-auto[data-popper-placement^=right] .tooltip-arrow::before,
.bs-tooltip-end .tooltip-arrow::before {
    border-right-color: var( --saaspricing-white-color );
}

.tooltip.show {
    opacity: 1;
}

.mfp-img {
    height: auto;
    display: block;
    line-height: 0;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    padding: 0px;
    margin: 0 auto;
    width: 100% !important;
    max-width: 600px !important;
    background-color: var( --saaspricing-white-color );
}

.mfp-image-holder .mfp-close,
.mfp-iframe-holder .mfp-close {
    color: var(--saaspricing-color-black);
    right: -30px;
    top: -30px;
    text-align: right;
    background: var( --saaspricing-white-color );
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    padding: 10px !important;
    height: 30px;
    width: 30px;
    border-radius: 50px;
    cursor: pointer !important;
}

@media screen and (max-width: 350px) {
    .saaspricing-ribbon {
        position: unset;
        margin-bottom: 15px;
        ;

    }
}

@media screen and (max-width: 768px) {
    .saaspricing-w-sm-100 {
        width: 100%;
    }
}